body{
    margin: 0px;
}
.frame{
    position: relative;
    width: 80%;
    height: 80%;
    max-width: 500px;

    padding: 1.5rem;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}
.lastpage{
	width: 40px;
	height: 40px;
	position: fixed;
	right: 10px;
	bottom: 10px;
    background-color: transparent;
	background-image: url(../images/last_page_2.png);
	background-repeat: no-repeat;
	background-size: cover;
    border: none;
}