body{
	margin:0px;
}
h1{
    font-family: "思源黑體";
}
h1{
    font-size: 1.7rem;
    font-weight: 500;
}
h2{
	margin: 0px 1rem 1rem 0rem;
	font-size: 1.3rem;
	font-weight: 500;
}
p{
	margin: 0rem;
	line-height: 170%; 
	font-size: 1rem;
	word-break: break-all;
}
.lastpage{
	width: 40px;
	height: 40px;
	position: fixed;
	right: 10px;
	bottom: 10px;
	/* background-color: transparent; */
	background-color: rgba(255, 255, 255, 0.4);
	background-image: url(../images/last_page_2.png);
	background-repeat: no-repeat;
	background-size: cover;
    border: none;
}
.banner{
	margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    /*height: 700px; /* 使用 max-height 控制過渡 */
    overflow: hidden; /* 防止內容溢出 */
    color: black;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    transition: max-height 0.3s ease, top 0.3s ease; /* 添加平滑過渡 */
    z-index: 10;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.3);
}
.banner.fixed {
    margin: 0;
    position: fixed;
    max-height: 90px; /* 固定高度的過渡效果 */
    top: 0;
    background-size: cover;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.3);
}

.banner-text{
	margin-left: 2rem;
	font-size: 1.7rem;
    font-weight: 500;
	font-family: '思源黑體';
	color: black;
	position: relative;
}
.text{
	/*position: relative;*/
	margin:0.5rem auto;
	margin-top: 450px;
	/* max-width: 450px; */
	/*left: 50%;
	transform: translate(-50%, 0%); */
}
.text-block{
	padding: 1rem;
	margin: 0rem 1.2rem 2rem 1.2rem;

	border: 1px solid #a9a9a9 ; /*!important;*/
	border-radius: 20px;
}
.text-block1{
	margin-top: 0rem;
	margin-bottom: 1rem;
}
.text-block2{
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.text-block3{
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.highlight{
	font-size: 1.1rem;
	font-weight: 600; 
}
.red{
	color: red;
	display: inline;
	font-size: 1.1rem;
	font-weight: bold;
}