.logo{
    position: relative;
    top:5rem;
    left: 50%;
    transform: translate(-50%,0);
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}
.selection_frame{
    position: relative;
    top: 40%; 
    left: 50%;
    width: 270px; height: 458px; 
    transform: translate(-50%,-50%);
}
.menu{
    position: relative;
    width: 212px;     
    height: 48px; 
    margin-top:2.5rem;
    margin-bottom:2.5rem; 
    left: 50%;
    top: 0px;
    transform: translate(-50%,0%);
    background-repeat: no-repeat;
    background-size: contain;
}
.home_btn{
    background-image: url(../images/home_A.png);
}
.about_btn{
    background-image: url(../images/about_A.png);

}
.contact_btn{
    background-image: url(../images/content_A.png);

}
.fb_btn{
    background-image: url(../images/fb_A.png);

}
.eVN_btn{
    background-image: url(../images/eVIEWNEWS_A.png);

}
.btn_frame{
    width: 240px;
    height: 30px;
    position: fixed;
    left:50%;
    transform: translate(-50%,0%);
    bottom: 2.5rem;
}
.m_btn_copyright {
	width: 80px;
	height: 30px;
	position: absolute;
	left: 0px; top: 0px;
	background-image: url(../images/b_copyright_2.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.m_btn_private {
	width: 80px;
	height: 30px;
	position: absolute;
	right: 0px; top: 0px;
	background-image: url(../images/b_private_2.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.lastpage{
	width: 40px;
	height: 40px;
	position: fixed;
	right: 10px;
	bottom: 10px;
    background-color: transparent;
	background-image: url(../images/last_page_2.png);
	background-repeat: no-repeat;
	background-size: cover;
    border: none;
}
