.backgroundcolor {
	background-color: #e5e5e5e5;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
}
body{
	background: #e5e5e5;
}
/* menu */
.logo{
	width: 134px;
	height: 87px;
	background-image:url(../images/radio/logo_s.png);
}
/* about */
.trapezoid,.trapezoid2,.trapezoid3,.banner{
	background-color: #e5e5e5;
}

/* list */
.active, .btn:hover {
    background-color:#dbd3d3;
    color: black;
}
.BarFrame{
	background-color: #dbd3d3;
}
.lastpage{
	width: 40px;
	height: 40px;
	position: fixed;
	right: 10px;
	bottom: 10px;
	/* background-color: transparent; */
	background-color: rgba(255, 255, 255, 0.4);
	background-image: url(../images/last_page_2.png);
	background-repeat: no-repeat;
	background-size: cover;
    border: none;
}