body {
  margin: 1vh 1vw;
  background-color: #efe;
}

.needs_radio_background {
  background: linear-gradient(#d9d9d9, #dad13b)
}

.stars_radio_background {
  background: linear-gradient(#d9d9d9, #11519c)
}

.bb_radio_background {
  background: linear-gradient(#d9d9d9, #c4634b)
}

.center {
  margin: auto;
  width: 50%;
  text-align: center;
}

.dashed-button {
  display: inline-block;
  padding: 10px 20px;
  border: 2px dashed #9999FF;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.dashed-button:hover {
  background-color: #f7f7f7;
}