.e2011_8 {
	background-color: rgba(255, 255, 255, 1);
	width: 360px;
	height: 800px;
	position: absolute;
}

.e1_24 {
	width: 212px;
	height: 67px;
	position: absolute;
	left: 50%;
	margin: 0px 0px 0px -106px;
	top: 253px;
	background-image: url(images/home/needsmediaf_1.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e1_66 {
	width: 210px;
	height: 172px;
	position: absolute;
	left: 50%; top: 380px;
	margin: 0px 0px 0px -105px;
}

.H_btn_needs {
	width: 150px;
	height: 40px;
	position: relative;
	left: 30%;
	transform: translate(-50%,0);
	/* top: 0px; */
	background-image: url(images/home/h_2n.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.H_btn_stars {
	width: 150px;
	height: 40px;
	position: relative;
	left: 43.3%;
	transform: translate(-50%,0);
	/* top: 0px; */
	background-image: url(images/home/h_2s.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.H_btn_bnb {
	width: 150px;
	height: 40px;
	position: relative;
	left: 56.7%;
	transform: translate(-50%,0);
	/* bottom: 0px; */
	background-image: url(images/home/h_2b.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.H_btn_tv {
	width: 150px;
	height: 40px;
	position: relative;
	left: 70%;
	transform: translate(-50%,0);
	/* bottom: 0px; */
	background-image: url(images/home/ntv.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.version {
	font-size: 10px; /* 調整字體大小 */
	opacity: 0.5; /* 調整文字透明度 */
	position: absolute; /* 絕對定位 */
	bottom: 5px; /* 距離底部的距離 */
	left: 50%; /* 距離右側的距離 */
	transform: translate(-50%,0);
	text-align: center;
}

.text1 {
	width: 157px;
	height: 20px;
	position: absolute;
	top: 8rem;
	left: 50%;
	transform: translate(-50%,0);
	background-image: url(images/home/h_text_up.png);
	background-repeat: no-repeat;
	background-size: contain;
}
.text2 {
	width: 232px;
	height: 20px;
	position: absolute;
	bottom: 6rem;
	left: 50%;
	transform: translate(-50%,0);
	background-image: url(images/home/h_text_down.png);
	background-repeat: no-repeat;
	background-size: contain;
}