.logo {
	width: 240px;
	height: 79.5px;
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);
	top: 12rem;
	background-image: url(images/home/needsmediaf_1.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.btnFrame {
	width: 210px;
	height: 172px;
	position: absolute;
	left: 50%; top: 19.5rem;
	margin: 0px 0px 0px -105px;
}
.H_btn_needs,.H_btn_stars,.H_btn_bnb,.H_btn_tv {
	width: 100%;
	height: 72.32px;
	position: relative;
	left: 50%;
	transform: translate(-50%,0);
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 0.5rem;
	border-radius: 10px;
}

.H_btn_needs {
	background-image: url(images/home/h_4n.png);
}

.H_btn_stars {
	background-image: url(images/home/h_4s.png);
}

.H_btn_bnb {
	background-image: url(images/home/h_4b.png);
}

.H_btn_tv {
	background-image: url(images/home/h_4t.png);
}

.version {
    font-size: 12px;           /* 稍微放大一點，至少 10-12px 手機才好閱讀 */
    opacity: 0.8;             /* 增加不透明度 */
    position: fixed;          /* 改為固定定位，確保它釘在畫面上 */
    bottom: 20px;             /* 稍微調高，避開手機瀏覽器的底部操作列 */
    left: 50%;                /* 置中 */
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    pointer-events: none;     /* 防止版號擋住下方的按鈕點擊 */
}

.text1 {
	width: 232px;
	height: 30px;
	position: absolute;
	top: 6rem;
	left: 50%;
	transform: translate(-50%,0);
	background-image: url(images/home/h_text_up.png);
	background-repeat: no-repeat;
	background-size: contain;
}
.text2 {
	width: 232px;
	height: 20px;
	position: absolute;
	bottom: 5rem;
	left: 50%;
	transform: translate(-50%,0);
	background-image: url(images/home/h_text_down.png);
	background-repeat: no-repeat;
	background-size: contain;
}