body{
	margin:0px;

}
h2{
	margin: 0px 1rem 1rem 0rem;
}
p{
	margin: 0rem;
	line-height: 170%; 
	font-size: 1rem;
	word-break: break-all;
}
.lastpage{
	width: 40px;
	height: 40px;
	position: fixed;
	right: 10px;
	bottom: 10px;
	background-image: url(../images/last_page.png);
	background-repeat: no-repeat;
	background-size: cover;
    border: none;
}
.banner{
	width: 100%;
	height: 7rem;
	background-color: #6c6c6c;
	line-height:7rem;
	position: fixed;
}
.banner-text{
	margin: 0px 0px 0px 2.5rem ;
	font-size: 1.8rem;
	font-weight: bold;
	font-family: '微軟正黑體';
	color: white;
}
.text{
	/*position: relative;*/
	margin:1.5rem auto;
	max-width: 450px;
	/*left: 50%;
	transform: translate(-50%, 0%); */
}
.text-block{
	padding: 1rem;
	margin: 0rem 1.2rem 0.5rem 1.2rem;
	background-color: white;
	border-radius: 10px;
}
.text-block1{
	margin-top: 0rem;
	margin-bottom: 1rem;
}
.text-block2{
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.text-block3{
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.highlight{
	font-size: 1.1rem;
	font-weight: bold;
}
.red{
	color: red;
	display: inline;
	font-size: 1.1rem;
	font-weight: bold;
}