/*.e2013_31 {
	width: 100vw;
	height: 100vw;
	left: 0vw;
	top: 0vw;
	position: absolute;
}

.e2013_32 {
	width: 100vw;
	height: 100vw;
	position: absolute;
	left: 0px;
	top: 50px;
}*/

.backgroundcolor{

	background-color: #F7DA4A;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
}
.n_btnFrame_top {
	width: 100%;
	max-width: 500px;
	height: 40px;
	position: fixed;
	left: 50%;
	transform: translate(-50%,0%);
	top: 32px;
}

		.n_btn_needs {
			width: 67.2px;
			height: 48px;
			position: absolute;
			left: 14%;
			top: 0px;
			transform: translate(-50%,0%);
			background-image: url(../images/b_needs.png);
			background-repeat: no-repeat;
			background-size: cover;
		}

		.n_btn_stars {
			width: 67.2px;
			height: 48px;
			position: absolute;
			left: 38%;
			top: 0px;
			transform: translate(-50%,0%);
			background-image: url(../images/b_stars.png);
			background-repeat: no-repeat;
			background-size: cover;
		}

		.n_btn_bnb {
			width: 67.2px;
			height: 48px;
			position: absolute;
			left: 62%;
			top: 0px;
			transform: translate(-50%,0%);
			background-image: url(../images/b_bnb.png);
			background-repeat: no-repeat;
			background-size: cover;
		}

		.n_btn_tv {
			width: 67.2px;
			height: 48px;
			position: absolute;
			left: 86%;
			top: 0px;
			transform: translate(-50%,0%);
			background-image: url(../images/b_tv.png);
			background-repeat: no-repeat;
			background-size: cover;
		}

.frame{
	width: 300px;
	/*height: 70%;*/
	position: absolute;
	background-color: rgba(255, 255, 255, 0.7);
	left: 50%;
	top:7rem;
	bottom: 9rem;
  	transform: translate(-50%,0%);
	border-radius: 25px;
}
		.n_keycard {
			width: 240px;
			height: 240px;
			position: relative;
			margin: 10% 0 10% 0;
			left: 50%;
			transform: translate(-50%,0%);
			/*top: 1.7rem;*/
			/*background-image: url(../images/keycard.png);*/
			background-repeat: no-repeat;
			background-size: cover;
			border: 0; outline: none;
		}
		.text_frame{
			width: 100%;
			height: auto;
			position: relative;
			left: 50%;
			/*top: 18.5rem;*/
			transform: translate(-50%,0%);
		}
				.tx_playnow {
					box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
					color: rgba(0, 0, 0, 1);
					width: 78px;
					height: auto;
					position: relative;
					top:0px;
					left: 10%;
					font-family: Inter;
					text-align: left;
					font-size: 12px;
					font-weight: 400;
					letter-spacing: 0;
					background-size: cover;
				}
				.tx_showname {
					box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
					color: rgba(0, 0, 0, 1);
					width: 100%;
					height: auto;
					position: relative;
					left: 50%;
					/*top: 1rem;*/
					transform: translate(-50%,0%);
					font-family: Inter;
					font-weight: 400;
					text-align: center;
					font-size: 1.6rem;
					letter-spacing: 0;
				}
				.tx_host {
					box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
					color: rgba(0, 0, 0, 1);
					width: 100%;
					height: auto;
					position: relative;
					right: 10%;
					bottom: 0px;

					font-family: Inter;
					font-weight: 400;
					text-align: right;
					font-size: 1rem;
					letter-spacing: 0;
				}
				.btn_play {
					width: 50px;
					height: 50px;
					margin-top: 15%;
					position: relative;
					left: 50%;
					transform: translate(-50%,0%);
					bottom: 10%;
				}
.n_btnFrame_buttom {
	width: 100%;
	height: 40px;
	position: fixed;
	left: 0px;
	bottom: 32px;
}
		.n_btn_menu {
			width: 50px;
			height: 64.4px;
			position: absolute;
			left: 11%;
			top: 0px;
			background-image: url(../images/b_menu_2.png);
			background-repeat: no-repeat;
			background-size: cover;
		}
		.n_btn_news {
			width: 50px;
			height: 64.4px;
			position: absolute;
			left: 33%;
			top: 0px;
			background-image: url(../images/b_news_2.png);
			background-repeat: no-repeat;
			background-size: cover;
		}
		.n_btn_list {
			width: 50px;
			height: 64.4px;
			position: absolute;
			left: 55%;
			top: 0px;
			background-image: url(../images/b_list_2.png);
			background-repeat: no-repeat;
			background-size: cover;
		}
		.n_btn_donate {
			width: 52px;
			height: 64.4px;
			position: absolute;
			left: 77%;
			top: 0px;
			background-image: url(../images/b_donate_2.png);
			background-repeat: no-repeat;
			background-size: cover;
		}



