/*.e2013_31 {
	width: 100vw;
	height: 100vw;
	left: 0vw;
	top: 0vw;
	position: absolute;
}

.e2013_32 {
	width: 100vw;
	height: 100vw;
	position: absolute;
	left: 0px;
	top: 50px;
}*/

.backgroundcolor{

	background-color: #F7DA4A;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
}

.n_logo {
	width: 212px;
	height: 67px;
	position: absolute;
	left: 50%;
  	transform: translate(-50%,0%);
	top: 5.5rem;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.frame{
	width: 270px;
	height: 460px;
	position: relative;
	background-color: rgba(255, 255, 255, 0.7);
	left: 50%;
	top:54%;
  	transform: translate(-50%,-50%);
	border-radius: 17px;
}
.n_keycard {
	width: 212px;
	height: 212px;
	position: absolute;
	left: 50%;
  	transform: translate(-50%,0%);
	top: 1.7rem;
	/*background-image: url(../images/keycard.png);*/
	background-repeat: no-repeat;
	background-size: cover;
	border: 0; outline: none;
}
/*===================== button ==========================*/
.n_btnFrame_top {
	width: 100%;
	height: 40px;
	position: fixed;
	left: 0px;
	top: 32px;
}

.n_btn_needs {
	width: 56px;
	height: 40px;
	position: absolute;
	left: 11%;
	top: 0px;
	background-image: url(../images/b_needs.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.n_btn_stars {
	width: 56px;
	height: 40px;
	position: absolute;
	left: 33%;
	top: 0px;
	background-image: url(../images/b_stars.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.n_btn_bnb {
	width: 56px;
	height: 40px;
	position: absolute;
	left: 55%;
	top: 0px;
	background-image: url(../images/b_bnb.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.n_btn_tv {
	width: 56px;
	height: 40px;
	position: absolute;
	left: 77%;
	top: 0px;
	background-image: url(../images/b_tv.png);
	background-repeat: no-repeat;
	background-size: cover;
}
/*--------------------------------------------------*/
.n_btnFrame_buttom {
	width: 100%;
	height: 40px;
	position: fixed;
	left: 0px;
	bottom: 32px;
}

.n_btn_menu {
	width: 40px;
	height: 40px;
	position: absolute;
	left: 11%;
	top: 0px;
	background-image: url(../images/b_menu.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.n_btn_news {
	width: 40px;
	height: 40px;
	position: absolute;
	left: 33%;
	top: 0px;
	background-image: url(../images/b_news.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.n_btn_list {
	width: 40px;
	height: 40px;
	position: absolute;
	left: 55%;
	top: 0px;
	background-image: url(../images/b_list.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.n_btn_donate {
	width: 40px;
	height: 40px;
	position: absolute;
	left: 77%;
	top: 0px;
	background-image: url(../images/b_donate.png);
	background-repeat: no-repeat;
	background-size: cover;
}
/*=================== text ========================*/
.text_frame{
	width: 80%;
	height: 80px;
	position: absolute;
	left: 50%;
	top: 16rem;
	transform: translate(-50%,0%);
}
.tx_playnow {
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
	color: rgba(0, 0, 0, 1);
	width: 78px;
	height: 33px;
	position: relative;
	top:0px;
	left: 0px;
	font-family: Inter;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0;
	background-size: cover;
}
.tx_showname {
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
	color: rgba(0, 0, 0, 1);
	width: 360px;
	height: 69px;
	position: absolute;
	left: 50%;
	top: 1rem;
	transform: translate(-50%,0%);
	font-family: Inter;
	font-weight: bold;
	text-align: center;
	font-size: 1.6rem;
	letter-spacing: 0;
}
.tx_host {
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
	color: rgba(0, 0, 0, 1);
	width: 200px;
	height: 21px;
	position: absolute;
	right: 0px;
	bottom: 0px;

	font-family: Inter;
	font-weight: bold;
	text-align: right;
	font-size: 1rem;
	letter-spacing: 0;
}
/*=============== play/pause button ================*/
.btn_play {
	width: 50px;
	height: 50px;
	position: absolute;
	left: 50%;
  	transform: translate(-50%,0%);
	bottom: 2.5rem;
}


